<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>deliver</display-name>
    <servlet-name>deliver</servlet-name>
    <servlet-class>WEB.deliver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliver</servlet-name>
    <url-pattern>/deliver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register_test</display-name>
    <servlet-name>register_test</servlet-name>
    <servlet-class>WEB.register_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_test</servlet-name>
    <url-pattern>/register_test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>query_ip</display-name>
    <servlet-name>query_ip</servlet-name>
    <servlet-class>WEB.query_ip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query_ip</servlet-name>
    <url-pattern>/query_ip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>query_specific_ip</display-name>
    <servlet-name>query_specific_ip</servlet-name>
    <servlet-class>WEB.query_specific_ip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query_specific_ip</servlet-name>
    <url-pattern>/query_specific_ip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>query_specific_time</display-name>
    <servlet-name>query_specific_time</servlet-name>
    <servlet-class>WEB.query_specific_time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query_specific_time</servlet-name>
    <url-pattern>/query_specific_time</url-pattern>
  </servlet-mapping>
</web-app>