.main {
    position: relative;
    margin: 20px auto;
    background-color: #e6e4e47c;
    border: 0px solid steelblue;
    width: 600px;
    height: 480px;
}

.msgInput {
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    letter-spacing: 0px;
    border: 0;
    background-color: #4645452f;
    margin-left: 220px;
    width: 300px;
}

.sendbtn {
    position: absolute;
    width: 100px;
    height: 29px;
    bottom: 5px;
    right: 10px;
}

.content {
    list-style: none;
    width: 400px;
    height: 410px;
    margin: 5px auto;
    border: 0px dotted rgb(172, 174, 175);
    overflow-y: scroll;
    padding: 10px;
}

.text-style {
    margin-bottom: 10px;
    text-align: right;
}

.text-style-left {
    margin-bottom: 10px;
    text-align: left;
}

.pos,
.pos-left {
    margin: 0 10px;
    display: inline-block;
    position: relative;
}

.pos:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 100%;
    border-top: 5px solid transparent;
    border-left: 6px solid top;
    background: #b2e281;
    border-bottom: 5px solid transparent;
}

.pos-left:before {
    content: "";
    position: absolute;
    top: 14px;
    right: 100%;
    border-top: 5px solid transparent;
    border-right: 6px solid #ffffff;
    border-bottom: 5px solid transparent;
}

.bubble {
    text-align: right;
    max-width: 400px;
    min-height: 40px;
    display: inline-block;
    vertical-align: top;
    background: top;
    background: #b2e281;
    border-radius: 3px;
    margin-bottom: 20px;
}

.bubble-left {
    text-align: left;
    max-width: 400px;
    min-height: 40px;
    display: inline-block;
    vertical-align: top;
    background: top;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.plain {
    padding: 9px 13px;
    font-size: 14px;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.btn-clue {
    position: fixed;
    background-color: white;
    border: 1px solid black;
}